<!-- Left side section for Team Management -->
<h2>Team Management</h2>
<app-input-btn 
  (clickAddItem)="onClickAddTeam($event)" 
  [placeHolderText]="'Enter new team name'">
</app-input-btn>
<div class="col-xs-12">
  <!-- Tree view component -->
  <div>
    <my-tree-view 
      [(items)]="teamDataMock" 
      (onNodeCreated)="onTeamCreated($event)" 
      (onNodeRenamed)="onTeamRenamed($event)" 
      (onNodeRemoved)="onTeamRemoved($event)"
      (onNodeSelected)="onTeamSelected($event)">
    </my-tree-view>
  </div>
</div>