<!-- Team Management -->
<!-- <h2>Team Management</h2>
<div class="input-group mb-3"> -->
  <!-- input text and button to add new Team -->
  <!-- <input 
      type="text" 
      class="form-control" 
      placeholder="Add Team Name" 
      aria-label="add-group-name" 
      aria-describedby="basic-addon2"
      [(ngModel)]="groupName">
  <div class="input-group-append">
    <button 
      class="btn btn-primary" 
      type="button" 
      [disabled]="groupName == ''"
      (click)="onClickAddGroup()">
      Add
    </button>
  </div>
</div> -->
<!-- <div class="col-xs-12"> -->
  <!-- Tree view custom component -->
  <!-- <div  *ngFor="let group of groupDataMock; let i = index" >
    <my-tree-view 
      #treeView
      [(groupData)]="groupDataMock[i]"
      (onNodeRenamed)="onNodeRenamed($event)"
      (onNodeRemoved)="onNodeRemoved($event)">
    </my-tree-view>
  </div>
</div> -->