<div class="row">
	<div class="col-50">
		<h3>Team</h3>
		<div class="tree-conatiner">
			<tree [tree]="teamData" [settings]="treeSettings" (nodeSelected)="logEvent($event)"></tree>
		</div>
	</div>
	<div class="col-50">
		<h3>Groups</h3>
		<div class="tree-conatiner">
			<tree [tree]="groupData" [settings]="treeSettings" (nodeSelected)="logEvent($event)"></tree>
		</div>
	</div>
</div>


<router-outlet></router-outlet>